<form action="/register" method="post">
  <div>
    <label for="email">Name</label>
    <input type="text" name="name" id="name" autofocus required>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button type="submit">Login</button>
</form>