li {
	list-style-type: none;
	font-size: 16pt;
}
.mail {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 400px;
	background: #d8f1f8;
	border: 1px soild silver;
}
.mail h2 {
	margin-left: 38px;
}
input {
	font-size: 20pt;
}
input:focus,
textarea:focus {
	background-color: #ffffe0;
}
input submit {
	font-size: 12pt;
}
.rq {
	color: red;
	font-size: 10pt;
}
