* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

main {
    width: 1000px;
    height: 700px;
    background-color: white;
    margin: auto;
}

header {
    margin: auto;
    height: 200px;
    width: 1000px;
    background-color: coral;
    text-align: center;
    padding: 70px;
    border: 2px solid black;
    box-sizing: border-box;
}

img {
    width: 180px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

article {
    height: 300px;
}

aside{
    background-color: #D6A99A;
    width: 30%;
    height: 300px;
    padding: 20px 40px 50px 60px;
    float: right;
}

.article-1 {
    background-color: #D6CBC1;
    width: 70%;
    padding: 50px;
    float: left;
}

.article-2{
    background-color: #E3170A;
    width: 600px;
    float: left;
}
.article-3{
    background-color: #E16036;
    width: 200px;
    float: left;
}

.article-4{
    background-color: coral;
    width: 200px;
    float: left;
}

footer {
    clear: both;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    padding: 30px 0px;
}
