* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #261F1D;
  color: #FFFCF7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1, form, li {
  margin: 1rem;
}

button {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  background: none;
  color: white;
  border-radius: 50%;
  border: 1px solid;
}

button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

input[type=submit] {
  padding: .3rem;
}

form {
  display: flex;
  height: 2rem;
  gap: 1em;
}

#books {
  min-width: 300px;
}

#books>li, #books>li>*{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}

.title-update-input {
  width: -webkit-fill-available;
}