body {
    font-family: helvetica, sans-serif;
    background-color: #74B3CE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: calc(1em + .3vh);
}

main {
    background-color: #172A3A;
    color: #09BC8A;
    
    /* width: 60%; */
    min-width: 330px;
    min-height: 400px;
    padding: 1em;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3 {
    margin: 1rem 0;
}

.input-container {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}


input {
    flex-basis: 0;
    flex: 1;
    max-width: 3.8em;
}

#button-restart {
    display: none;
}

th, td {
    text-align: center;
    min-width: 40px;
}

#table-board button {
    width: 100%;
}