#header{
    background:#333;
    color:#fff;
    padding:20px;
    margin-bottom:20px;
}
#header a{
    color:#f90;
}
.tweet{
    background:#fc0;
    padding:10px;
}
.tweet a{
    color:#000;
}

#header .tweet a {

}
